body {
  font-family: serif;
  background-color: #d8bea6;
/* font-family: 'Courier New', Courier, monospace; */
}

h1 {
  text-align: center;
  font-size: 5em;
}


/* .guitarnote { 

  font-size: 1em;
    color: black;
    position: absolute;
    bottom: 0px;
    width: 155px;
    text-align: center;
    background-color: rgb(143, 116, 76);
    padding-bottom: -20px;
    left: 45%;
    z-index: 50;
    border-radius: 50%;

}  */


/* ---------------------- Fretboard ----------------------  */


.string {
  display: flex;
  align-content: space-around;
  /* left: 10%;
  position: absolute; */
  /* justify-content: flex-start;
  align-content: center; */
}

.frets {
  width: 100%;
  
}

/* #first-string, #seventh-string {
  height: 30px;
} */

.string1 {
border-bottom: 2px rgb(165, 165, 165) solid;
height: 20px;
/* vertical-align: center; */
}
.string2 {
border-bottom: 3px rgb(165, 165, 165) solid;
bottom: -10px;
height: 20px;
}
.string3 {
border-bottom: 4px rgb(165, 165, 165) solid;
height: 20px;
}
.string4 {
border-bottom: 5px rgb(255, 177, 31) solid;
height: 20px;
}
.string5 {
border-bottom: 6px rgb(255, 177, 31) solid;
height: 20px;
}
.string6 {
border-bottom: 7px rgb(255, 177, 31) solid;
height: 20px;
}
.string7 {
  border-bottom: 1px rgb(0, 0, 0) solid;
  min-height: 12px;
  }


/* .guitarnote { */
  /* position: absolute; */
  /* top: 15px; */
  /* left: 0;
  right: 0;
  bottom: -40px;
  z-index: 50; */
  /* padding-bottom: -10px; */
/* } */

/* .guitarnote.active {
  color: red;
} */


.fret {
  /* width: 100px; */
 
text-align: center;
vertical-align: middle;
/* line-height: 80px; */
background-color:#b98b5f;
font-family: 'Courier New', Courier, monospace;
font-weight: 900;
font-size: 1.4em;
padding-top: 15px;
}

.fret0 {
border-right: 15px rgb(233, 233, 233) solid;
width: 50px;
background-color: rgb(87, 62, 38);
/* display: inline-block; */
/* position: relative; */
}

.fret1 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 160px;
  /* display: inline-block; */
  /* position: relative; */
}

.fret2 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 155px;
  /* display: inline-block; */
  /* position: relative; */
}

.fret3 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 150px;
  /* display: inline-block; */
  /* position: relative; */
}  

.fret4 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 145px;
  /* display: inline-block; */
  /* position: relative; */
  }  

.fret5 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 140px;
  /* display: inline-block; */
  /* position: relative; */
  } 

.fret6 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 135px;
  /* display: inline-block; */
  /* position: relative; */
  } 

.fret7 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 130px;
  /* display: inline-block; */
  /* position: relative; */
  } 

.fret8 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 125px;
  /* display: inline-block; */
  /* position: relative; */
  } 

.fret9 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 120px;
  /* display: inline-block; */
  /* position: relative; */
  } 

.fret10 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 115px;
  /* display: inline-block; */
  } 

.fret11 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 110px;
  /* display: inline-block; */
  } 

.fret12 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 105px;
  /* display: inline-block; */
  } 


.lit {
background-color: #80dfff;
}

.sharp-or-flat {
  /* background-color: greenyellow */
}


/* ---------------------- Chord buttons ----------------------  */

.keyChordContainer {
  padding: 5px;
}

.keyChordContainer p {
  font-size: 1.1em;
}

.chord-buttons-row {
  background-color: #D8CABC;
  display: flex;
  width: 80%;
  margin: auto;
}

.key-row,
.tone-row,
.quality-row {
  /* background-color: lightcoral; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 8px;
}

.key-row {
  width: 100%;

}
.tone-row {
  width: 50%;
}
.quality-row {
  width: 100%;
}

.key,
.tone,
.quality {
  min-width: 80px;
} 

.tone {
  max-height: 25px;
}

/* ---------------------- Song display ----------------------  */

#song-display-wrapper {
  margin-top: 20px;
  border: 1px solid black;
}

#song-display {
  white-space: pre;
}
