/* h4 { 

  font-size: 1.5em;
    color: black;
    position: absolute;
    bottom: -39px;
    width: 155px;
    text-align: center;
    background-color: rgb(139, 92, 22);
    left: 45%;
    z-index: 50;
    border-radius: 50%;

}  */



/* .C5 {
  background-color: lightblue
} */


/* ---------------------- Fretboard ----------------------  */

.string {
  display: flex;
  align-content: space-around;
  /* left: 10%;
  position: absolute; */
  /* justify-content: flex-start;
  align-content: center; */
}

.frets {
  width: 100%;
  
}

#first-string, #seventh-string {
  height: 30px;
}

.string1 {
border-bottom: 1px rgb(165, 165, 165) solid;
/* vertical-align: center; */
}
.string2 {
border-bottom: 2px rgb(165, 165, 165) solid;
}
.string3 {
border-bottom: 3px rgb(165, 165, 165) solid;
}
.string4 {
border-bottom: 4px rgb(255, 177, 31) solid;
}
.string5 {
border-bottom: 5px rgb(255, 177, 31) solid;
}
.string6 {
border-bottom: 6px rgb(255, 177, 31) solid;
}
.string7 {
  border-bottom: 1px rgb(0, 0, 0) solid;
  }


/* .guitarnote {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: -40px;
  z-index: 50;
} */

/* .guitarnote.active {
  color: red;
} */


.fret {
  /* width: 100px; */
 
text-align: center;
vertical-align: middle;
/* line-height: 80px; */
background-color: rgb(143, 116, 76);
font-family: 'Courier New', Courier, monospace;
font-weight: 900;
font-size: 1.5em;
}

.fret0 {
border-right: 15px rgb(233, 233, 233) solid;
width: 50px;
background-color: rgb(87, 62, 38);
display: inline-block;
/* position: relative; */
}

.fret1 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 160px;
  display: inline-block;
  /* position: relative; */
}

.fret2 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 155px;
  display: inline-block;
  /* position: relative; */
}

.fret3 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 150px;
  display: inline-block;
  /* position: relative; */
}  

.fret4 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 145px;
  display: inline-block;
  /* position: relative; */
  }  

.fret5 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 140px;
  display: inline-block;
  /* position: relative; */
  } 

.fret6 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 135px;
  display: inline-block;
  /* position: relative; */
  } 

.fret7 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 130px;
  display: inline-block;
  /* position: relative; */
  } 

.fret8 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 125px;
  display: inline-block;
  /* position: relative; */
  } 

.fret9 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 120px;
  display: inline-block;
  /* position: relative; */
  } 

.fret10 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 115px;
  display: inline-block;
  } 

.fret11 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 110px;
  display: inline-block;
  } 

.fret12 {
  border-right: 6px rgb(85, 85, 85) solid;
  width: 105px;
  display: inline-block;
  } 


.lit {
background-color: aquamarine;
font-size: 2em; /* just playing */
}

/* ---------------------- Chord buttons ----------------------  */

.keyChordContainer {
width: 50%;
}

.key,
.tone,
.chord-type {
width: 100%;
} 

.keyRow,
.toneRow,
.chordRow {
display: flex;
align-content: space-between;
}


/* #fretboardimage {
position: absolute;
left: 10%;
top: 20%;
width: 80%;
z-index: -1;

} */


.half-box str1 {
  height: 15px;

}

.half-box {
  height: 15px;

}
